---
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from './MainLayout.astro';

const { title, description, date, updatedDate } = Astro.props;
---

<MainLayout title={title} description={description}>
  <article>
    <div class="prose">
      <div class="title">
        <div class="date text-center">
          <FormattedDate date={date} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="text-center">{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</MainLayout>
